<!DOCTYPE html>
<html>
<head>
  <title>TreinamentoRails</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-default bg-faded white-nav-bar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="padding: 0.6em">
          <ul style="margin: 0; vertical-align: text-top;">
            <img src="/extragam.png" width="30" height="30" class="d-inline-block align-top" alt="" > Extagram
          </ul>
        </a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <%= link_to "New Post", new_post_path%>
        </li>
        <li><a href="#">Link</a></li>
      </ul>

      <% if current_user %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger navbar-btn pull-right", style: "margin-left: 1em;"%>
        <button class="btn btn-default navbar-btn pull-right" >Options</button>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-success navbar-btn pull-right", style: "margin-left: 1em;"%>
      <% end %>

    </div>
  </nav>

  <%= yield %>
</body>
</html>
